doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Тестовое
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    link(rel='stylesheet', href='css/main.min.css')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')
  body.grid
    header.main-head
      .container.grid
        .line__header
          h2.h2-title header
    section.first
      .container
        .first-w.grid.sq
          .first-w__item
            p.p.p_alt Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
          .first-w__item
            p.p.p_alt Чувство однократно
          .first-w__item
            p.p.p_alt Морено
    section.second
      .container
        .second-w.grid.sq
          .second-w__item.second-1
            p.p Чувство однократно
          .second-w__item.second-2
            p.p Просветляет понимающий тест
          .second-w__item.second-3
            p.p Интроекция
          .second-w__item.second-4
            p.p Конформизм
          .second-w__item.second-5
            p.p Наши сотрудники

    section.third
      .container
        .third-w.sq
          .left-c
            .third-w__item.third-w__item_first
              p.p Понятие модернизации понимает механизм власти
            .third-w__item.third-w__item_second
              p.p.p_alt Наши сотрудники
          .right-c
            .third-w__item.third-w__item_third
              nav.counter-list
                ul
                  li.counter-list__item
                    span.key
                      | Фамилия
                    span.value
                      | Мамай
                  li.counter-list__item
                    span.key
                      | Имя и отчество
                    span.value
                      | Станиславаленина <br>
                      | Владимировна
                  li.counter-list__item
                    span.key
                      | Номер полиса выдан заведомо
                      | ложный
                    span.value
                        | 01354879
                  li.counter-list__item
                    span.key
                      | Номер полиса выдан заведомо
                      | ложный
                    span.value
                      | 01354879
                  li.counter-list__item
                    span.key
                      | Дата рождения
                    span.value
                      | 01.12.1976
                  li.counter-list__item
                    span.key
                      | Телефон
                    span.value
                      | +79254218069
    section.forth
      .container
        .forth-w.grid.sq
          .forth-w__item(style='grid-area: lead;')
            p.p Лидерство
          .forth-w__item(style='grid-area: how;')
            p.p Однако
          .forth-w__item(style='grid-area: gen;')
            p.p Невероятный гений
          .forth-w__item(style='grid-area: dot;')
            p.p Точка перегиба
          .forth-w__item(style='grid-area: vector;')
            p.p Длина вектора
    footer.main-footer
      .container.grid
        .line__footer
          h2.h2-title footer

    link(rel='stylesheet', href='css/main.min.css')
    script(src='js/scripts.min.js')
